@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* Shared Style */
#navbar-section {
    /* border: 1px solid red; */
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
    width: 100%;
    max-width: 1600px;
}

.btn-primary {
    font-size: 16px;
    font-weight: 600;
    width: 130px;
    height: 42px;
    border-radius: 25px;
    border: none;
    background-image: linear-gradient(30deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: #FFFFFF;
}

/* Navbar Section Style */
.navbar-container {
    /* border: 1px solid gold; */
    width: 75vw;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .logo {
    font-size: 2.5rem;
    color: #FFFFFF;
}

.navbar-container .logo span {
    background-image: linear-gradient(to top, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: transparent;
    background-clip: text;
}

.navbar-container .navbar-lists {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

.navbar-container .navbar-lists a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.navbar-container .hamburger-menu {
    width: 24px;
    height: 24px;
    display: none;
}

/* Banner Section Style */
#banner-section {
    width: 100%;
    max-width: 1600px;
    height: 95vh;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
}

.banner-image {
    /* border: 1px solid gold; */
    width: 40vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    position: relative;
}

.banner-image .circle {
    width: 22vw;

}

.banner-image .microphone {
    position: absolute;
    top: 102px;
    width: 8vw;
}

.banner-image .new-badge {
    font-size: 18px;
    font-weight: 600;
    color: #1A0B2E;
    background-color: #00FF88;
    width: 75px;
    text-align: center;
    padding: 8px 16px;
    border-radius: 25px;
    box-shadow: 0 3px 27px 0 #00ff885e;
    position: absolute;
    top: 56px;
    right: 136px;
}

.banner-content {
    /* border: 1px solid aqua; */
    width: 40vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.banner-content .banner-title {
    font-size: 3.5rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.banner-content .title-description {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
    opacity: 80%;
}

.banner-content .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons .btn2 {
    width: 185px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding-left: 10px;
}

.buttons .btn3 {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-left: 15px;
    border: 1px solid #00FF88;
    color: #00FF88;
    background: transparent;
}


/* About Section Style */
#about-section {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 1600px;
    background-color: #1A0B2E;
}

.about-container {
    /* border: 1px solid aqua; */
    width: 75vw;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.about-container .about-podcast {
    padding: 0 150px;
}

.about-podcast .podcast-title {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about-podcast .title-description {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 40px;
    line-height: 20px;
    opacity: 80%;
}

.about-podcast .title-description2 {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 80px;
    opacity: 80%;
}

hr {
    border-color: #ffffff10;
    margin-bottom: 80px;
}

.about-container .stats-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.stats-container h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}

.stats-container p {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 100px;
}

/* Why Choose Section Style */
#why-choose-section {
    width: 100%;
    max-width: 1600px;
    background-color: #230E3D;
}

.why-choose-container {
    /* border: 1px solid red; */
    width: 75vw;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
}

.why-choose-container .why-choose-title {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    padding: 100px 0 30px;
}

.card1 {
    grid-area: card1;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 30px;
    padding: 115px 30px 50px;
    text-align: start;
}

.card2 {
    grid-area: card2;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 30px;
    text-align: start;
    padding: 40px;
}

.card3 {
    grid-area: card3;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 30px;
    text-align: start;
    padding: 40px;
}

.card4 {
    grid-area: card4;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 30px;
    text-align: start;
    padding: 40px;
}

.card5 {
    grid-area: card5;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 30px;
    text-align: start;
    padding: 40px;
}

.why-choose-container .feature-cards {
    display: grid;
    gap: 20px;
    grid-template-areas: "card1 card2 card2"
                         "card1 card3 card3"
                         "card4 card4 card5";
}

.feature-cards img {
    margin-bottom: 16px;
}

.feature-cards h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.feature-cards p {
    font-size: 16px;
    color: #FFFFFF;
    opacity: 60%;
    margin-bottom: 16px;
}



/* Responsive Design  */

/* Small Devices */
@media screen and (max-width: 375px) {
    .navbar-container {
        width: 91vw;
    }

    .responsive,
    .btn {
        display: none;
    }

    .navbar-container .hamburger-menu {
        display: inline;
    }

    /* Banner Section Style */
    .banner-image .circle {
        width: 65vw;
        transform: translateY(26px);

    }

    .banner-image .microphone {
        top: 131px;
        width: 20vw;
    }

    .banner-image .new-badge {
        top: 80px;
        right: -55px;
    }

    .banner-content {
        width: 88vw;
        margin-top: 45px;
    }

    .buttons .btn2 {
        width: 185px;
        padding-left: 6px;
    }

    .buttons .btn3 {
        gap: 6px;
        padding-left: 10px;
    }

    /* About Section Style */
    .about-container {
        /* border: 1px solid aqua; */
        width: 95vw;
    }

    .about-container .about-podcast {
        padding: 0 14px;
    }

    .about-podcast .podcast-title {
        font-size: 2.1rem;
    }

    .about-podcast .title-description {
        margin-bottom: 30px;
    }

    .about-podcast .title-description2 {
        margin-bottom: 50px;
    }

    hr {
        border-color: #ffffff10;
        margin-bottom: 50px;
    }

    .about-container .stats-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .stats-container p {
        margin-bottom: 50px;
    }

    /* Why Choose Section Style */
    .why-choose-container .feature-cards {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 376px) and (max-width: 412px) {
    .navbar-container {
        width: 91vw;
    }

    .responsive,
    .btn {
        display: none;
    }

    .navbar-container .hamburger-menu {
        display: inline;
    }

    /* Banner Section Style */
    .banner-image .circle {
        width: 60vw;
        transform: translateY(28px);

    }

    .banner-image .microphone {
        top: 129px;
        width: 20vw;
    }

    .banner-image .new-badge {
        top: 80px;
        right: -40px;
    }

    .banner-content {
        width: 85vw;
        margin-top: 45px;
    }

    .buttons .btn2 {
        width: 185px;
        padding-left: 10px;
    }

    .buttons .btn3 {
        gap: 6px;
        padding-left: 15px;
    }

    /* About Section Style */
    .about-container {
        /* border: 1px solid aqua; */
        width: 95vw;
    }

    .about-container .about-podcast {
        padding: 0 14px;
    }

    .about-podcast .podcast-title {
        font-size: 2.3rem;
    }

    .about-podcast .title-description {
        margin-bottom: 30px;
    }

    .about-podcast .title-description2 {
        margin-bottom: 50px;
    }

    hr {
        border-color: #ffffff10;
        margin-bottom: 50px;
    }

    .about-container .stats-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .stats-container p {
        margin-bottom: 50px;
    }

    /* Why Choose Section Style */
    .why-choose-container .feature-cards {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 413px) and (max-width: 475px) {
    .navbar-container {
        width: 91vw;
    }

    .responsive,
    .btn {
        display: none;
    }

    .navbar-container .hamburger-menu {
        display: inline;
    }

    /* Banner Section Style */
    .banner-image .circle {
        width: 54vw;
        transform: translateY(32px);

    }

    .banner-image .microphone {
        top: 135px;
        width: 17vw;
    }

    .banner-image .new-badge {
        top: 80px;
        right: -22px;
    }

    .banner-content {
        width: 75vw;
        margin-top: 45px;
    }

    .buttons .btn2 {
        width: 185px;
        padding-left: 8px;
    }

    .buttons .btn3 {
        gap: 6px;
        padding-left: 9px;
    }

    /* About Section Style */
    .about-container {
        /* border: 1px solid aqua; */
        width: 95vw;
    }

    .about-container .about-podcast {
        padding: 0 14px;
    }

    .about-podcast .podcast-title {
        font-size: 2.6rem;
    }

    .about-podcast .title-description {
        margin-bottom: 30px;
    }

    .about-podcast .title-description2 {
        margin-bottom: 50px;
    }

    hr {
        border-color: #ffffff10;
        margin-bottom: 50px;
    }

    .about-container .stats-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .stats-container p {
        margin-bottom: 50px;
    }

    /* Why Choose Section Style */
    .why-choose-container .feature-cards {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 476px) and (max-width: 530px) {
    .navbar-container {
        width: 91vw;
    }

    .responsive,
    .btn {
        display: none;
    }

    .navbar-container .hamburger-menu {
        display: inline;
    }

    /* Banner Section Style */
    .banner-image .circle {
        width: 47vw;
        transform: translateY(30px);

    }

    .banner-image .microphone {
        top: 133px;
        width: 15vw;
    }

    .banner-image .new-badge {
        top: 80px;
        right: -22px;
    }

    .banner-content {
        width: 75vw;
        margin-top: 45px;
    }

    .buttons .btn2 {
        width: 185px;
        padding-left: 8px;
    }

    .buttons .btn3 {
        gap: 6px;
        padding-left: 9px;
    }

    /* About Section Style */
    .about-container {
        /* border: 1px solid aqua; */
        width: 95vw;
    }

    .about-container .about-podcast {
        padding: 0 14px;
    }

    .about-podcast .title-description {
        margin-bottom: 30px;
    }

    .about-podcast .title-description2 {
        margin-bottom: 50px;
    }

    hr {
        border-color: #ffffff10;
        margin-bottom: 50px;
    }

    .about-container .stats-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .stats-container p {
        margin-bottom: 50px;
    }

    /* Why Choose Section Style */
    .why-choose-container .feature-cards {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (min-width: 530px) and (max-width: 576px) {
    .navbar-container {
        width: 91vw;
    }

    .responsive,
    .btn {
        display: none;
    }

    .navbar-container .hamburger-menu {
        display: inline;
    }

    /* Banner Section Style */
    .banner-image .circle {
        width: 43vw;
        transform: translateY(22px);

    }

    .banner-image .microphone {
        top: 125px;
        width: 13vw;
    }

    .banner-image .new-badge {
        top: 80px;
        right: -14px;
    }

    .banner-content {
        width: 72vw;
        margin-top: 45px;
    }

    /* About Section Style */
    .about-container {
        /* border: 1px solid aqua; */
        width: 95vw;
    }

    .about-container .about-podcast {
        padding: 0 16px;
    }

    .about-podcast .title-description {
        margin-bottom: 30px;
    }

    .about-podcast .title-description2 {
        margin-bottom: 50px;
    }

    hr {
        border-color: #ffffff10;
        margin-bottom: 50px;
    }

    .about-container .stats-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .stats-container p {
        margin-bottom: 50px;
    }

    /* Why Choose Section Style */
    .why-choose-container .feature-cards {
        display: flex;
        flex-direction: column;
    }


}

/* Medium Device */
@media screen and (min-width: 577px) and (max-width: 675px) {
    .navbar-container {
        width: 91vw;
    }

    .responsive,
    .btn {
        display: none;
    }

    .navbar-container .hamburger-menu {
        display: inline;
    }

    /* Banner Section Style */
    .banner-image .circle {
        width: 38vw;
        transform: translateY(30px);

    }

    .banner-image .microphone {
        top: 125px;
        width: 13vw;
    }

    .banner-image .new-badge {
        top: 80px;
        right: -14px;
    }

    .banner-content {
        width: 72vw;
        margin-top: 45px;
    }

    /* About Section Style */
    .about-container {
        /* border: 1px solid aqua; */
        width: 95vw;
    }

    .about-container .about-podcast {
        padding: 0 16px;
    }

    .about-podcast .title-description {
        margin-bottom: 30px;
    }

    .about-podcast .title-description2 {
        margin-bottom: 50px;
    }

    hr {
        border-color: #ffffff10;
        margin-bottom: 50px;
    }

    .about-container .stats-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .stats-container p {
        margin-bottom: 50px;
    }

    /* Why Choose Section Style */
    .why-choose-container .feature-cards {
        display: flex;
        flex-direction: column;
    }


}

@media screen and (min-width: 676px) and (max-width: 820px) {
    .navbar-container {
        width: 91vw;
    }

    .responsive,
    .btn {
        display: none;
    }

    .navbar-container .hamburger-menu {
        display: inline;
    }

    /* Banner Section Style */
    .banner-image .circle {
        width: 32vw;
        transform: translateY(30px);

    }

    .banner-image .microphone {
        top: 125px;
        width: 12vw;
    }

    .banner-image .new-badge {
        top: 80px;
        right: 20px;
    }

    .banner-content {
        width: 72vw;
        margin-top: 60px;
    }

    /* About Section Style */
    .about-container {
        /* border: 1px solid aqua; */
        width: 95vw;
    }

    .about-container .about-podcast {
        padding: 0 16px;
    }

    .about-podcast .title-description {
        margin-bottom: 30px;
    }

    .about-podcast .title-description2 {
        margin-bottom: 50px;
    }

    hr {
        border-color: #ffffff10;
        margin-bottom: 50px;
    }

    .about-container .stats-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .stats-container p {
        margin-bottom: 50px;
    }

    /* Why Choose Section Style */
    .why-choose-container .feature-cards {
        display: flex;
        flex-direction: column;
    }


}

@media screen and (min-width: 821px) and (max-width: 992px) {
    .navbar-container {
        width: 91vw;
    }

    .responsive,
    .btn {
        display: none;
    }

    .navbar-container .hamburger-menu {
        display: inline;
    }

    /* Banner Section Style */
    .banner-image .circle {
        width: 29vw;
        transform: translateY(15px);

    }

    .banner-image .microphone {
        top: 115px;
        width: 11vw;
    }

    .banner-image .new-badge {
        top: 87px;
        right: 28px;
    }

    .banner-content {
        width: 72vw;
        margin-top: 60px;
    }

    /* About Section Style */
    .about-container {
        /* border: 1px solid aqua; */
        width: 95vw;
    }

    .about-container .about-podcast {
        padding: 0 16px;
    }

    .about-podcast .title-description {
        margin-bottom: 30px;
    }

    .about-podcast .title-description2 {
        margin-bottom: 50px;
    }

    hr {
        border-color: #ffffff10;
        margin-bottom: 50px;
    }

    .about-container .stats-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .stats-container p {
        margin-bottom: 50px;
    }

    /* Why Choose Section Style */
    .why-choose-container .feature-cards {
        display: flex;
        flex-direction: column;
    }


}